accelerate
cmudict
cn2an
g2p_en
gradio>=4.32
jieba
librosa>=0.10.1
loguru
nltk<=3.8.1
num2words
numpy<2
onnx
onnxconverter-common
onnxruntime
onnxruntime-gpu
onnxsim-prebuilt
protobuf==4.25
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
tokenizers==0.19.1
torch
torchaudio
torchvision
transformers==4.44.2
umap-learn

llvmlite>=0.43.0,<0.44
numba>=0.60.0,<0.61
setuptools<81
wheel
